/* ===================================================================
   ! Switchers
   ===================================================================*/

.toggle-switch {
    width: 17px;
    height: 17px;
    background-size: contain;

    &-us, &-intl {
        background-image: url("widget-assets/checkbox.svg");
    }

    &-us:checked, &-intl:checked {
        background-image: url("widget-assets/checkbox-checked.svg");
    }
}
